@import "./fonts.scss";

// Bootstrap variable overrides
$custom-border-radius: 1.5rem;

$card-border-radius: $custom-border-radius;
$card-inner-border-radius: $custom-border-radius;
$navbar-padding-x: 1rem;

$blue: #474257;
$green: #b2ee6e;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$headings-font-family: Quicksand;
$headings-font-weight: 200;
// $paragraph-margin-bottom: 0;
$grid-gutter-width: 2rem;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Custom variables
$sidebar-closed-width: 120px;
$sidebar-open-width: 260px;
$header-height: 70px;
$image-height: 500px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h3 {
  font-weight: 700;
}

ul {
  margin-bottom: 0;
}

// Bootstrap components
.card {
  width: 100%;
  text-align: left;
  box-shadow: $box-shadow;
  flex-grow: 1;

  .card-img-top {
    object-fit: cover;

    @include media-breakpoint-up(sm) {
      max-height: $image-height;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: $spacer;
    .btn {
      text-align: center;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

// own components
.widget-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}
